@font-face {
font-family: "uicons-solid-rounded";
src: url("../webfonts/uicons-solid-rounded.eot#iefix") format("embedded-opentype"),
url("../webfonts/uicons-solid-rounded.woff2") format("woff2"),
url("../webfonts/uicons-solid-rounded.woff") format("woff");
}

    i[class^="fi-sr-"]:before, i[class*=" fi-sr-"]:before, span[class^="fi-sr-"]:before, span[class*="fi-sr-"]:before {
font-family: uicons-solid-rounded !important;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
        .fi-sr-car:before {
    content: "\f1f1";
    }
        .fi-sr-home:before {
    content: "\f36c";
    }
        .fi-sr-map-marker:before {
    content: "\f3bf";
    }
        .fi-sr-pencil:before {
    content: "\f40b";
    }
        .fi-sr-plus-small:before {
    content: "\f427";
    }
        .fi-sr-rectangle-barcode:before {
    content: "\f446";
    }
        .fi-sr-search:before {
    content: "\f47e";
    }
        .fi-sr-settings:before {
    content: "\f486";
    }
        .fi-sr-trash:before {
    content: "\f538";
    }
