@font-face {
font-family: "uicons-brands";
src: url("../webfonts/uicons-brands.eot#iefix") format("embedded-opentype"),
url("../webfonts/uicons-brands.woff2") format("woff2"),
url("../webfonts/uicons-brands.woff") format("woff");
}

    i[class^="fi-brands-"]:before, i[class*=" fi-brands-"]:before, span[class^="fi-brands-"]:before, span[class*="fi-brands-"]:before {
font-family: uicons-brands !important;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
        .fi-brands-visa:before {
    content: "\f1c2";
    }
