@font-face {
font-family: "uicons-regular-rounded";
src: url("../webfonts/uicons-regular-rounded.eot#iefix") format("embedded-opentype"),
url("../webfonts/uicons-regular-rounded.woff2") format("woff2"),
url("../webfonts/uicons-regular-rounded.woff") format("woff");
}

    i[class^="fi-rr-"]:before, i[class*=" fi-rr-"]:before, span[class^="fi-rr-"]:before, span[class*="fi-rr-"]:before {
font-family: uicons-regular-rounded !important;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

        .fi-rr-arrow-small-left:before {
    content: "\f14d";
    }
        .fi-rr-arrow-small-right:before {
    content: "\f14e";
    }
        .fi-rr-barcode-read:before {
    content: "\f18a";
    }
        .fi-rr-calendar:before {
    content: "\f1d5";
    }
        .fi-rr-car:before {
    content: "\f1ef";
    }
        .fi-rr-check:before {
    content: "\f211";
    }
        .fi-rr-credit-card:before {
    content: "\f296";
    }
        .fi-rr-envelope:before {
    content: "\f2e3";
    }
        .fi-rr-exclamation:before {
    content: "\f2e8";
    }
        .fi-rr-eye-crossed:before {
    content: "\f2ed";
    }
        .fi-rr-eye:before {
    content: "\f2ef";
    }
        .fi-rr-flag:before {
    content: "\f309";
    }
        .fi-rr-home:before {
    content: "\f368";
    }
        .fi-rr-info:before {
    content: "\f37a";
    }
        .fi-rr-lock:before {
    content: "\f3b1";
    }
        .fi-rr-map-marker:before {
    content: "\f3bd";
    }
        .fi-rr-phone-call:before {
    content: "\f410";
    }
        .fi-rr-search:before {
    content: "\f47e";
    }
        .fi-rr-settings:before {
    content: "\f486";
    }
        .fi-rr-taxi:before {
    content: "\f506";
    }
        .fi-rr-time-past:before {
    content: "\f523";
    }
        .fi-rr-user:before {
    content: "\f558";
    }
