h2 {
    padding: 5px 0;
}

#welcome {
    color: white;
    margin-left: 25px;
    margin-bottom: 25px;
}

.container {
    background: var(--background-color);
    margin: 0 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 5px;
}

#page-content i {
    padding: 2px;
    display: flex;
    align-items: center;
}

.info {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    grid-gap: 5px;
}

.drive_vehicle {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 5px;
}

.drive_vehicle h3 {
    text-align: center;
}

.back {
    background-color: var(--primary-color);
    position: fixed;

    margin-top: calc(var(--margin-top-topbar) * -1);
    height: 200px;
    width: 100vw;
    z-index: -1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}