h2 {
    padding: 5px 0;
}

#welcome {
    color: white;
    margin-left: 25px;
    margin-bottom: 25px;
}

#page-content i {
    padding: 2px;
    display: flex;
    align-items: center;
}

.back {
    background-color: var(--primary-color);
    position: fixed;

    margin-top: calc(var(--margin-top-topbar) * -1);
    height: 200px;
    width: 100vw;
    z-index: -1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}