ul {
    padding: 0;
    /*margin: 0;*/
    margin: 0 20px 20px;
}

li {
    padding: 5px;
    animation: fadeInFromNone 0.5s ease-out;
}

.journey-container {
    margin-bottom: 20px;

    display: grid;
    grid-template-rows: 1fr auto;

    transition: 0.5s;
    opacity: 1;
}

.main-container {
    background: var(--background-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;

    border-radius: 10px;
    z-index: 1;
}

.off-road-container {
    background: var(--background-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;

    border-radius: 0 0 10px 10px;
    margin: 0 10px;

    transition: 0.5s ease-in-out;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 0;
}

.off-road-container.hidden {
    margin-top: -85px;
    margin-bottom: 5px;
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.journey-container--hidden {
    opacity: 0;
    display: none;
}

.info {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    grid-gap: 5px;
}

.drive_vehicle {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 5px;
}

.drive_vehicle h3 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}