#set_sec_jh ul {
    padding: 0;
    margin: 0;
    margin: 0 20px;
    margin-top: 10px;
}

#set_sec_jh li {
    background-color: var(--background-color);
    margin-bottom: 10px;
    box-shadow: 0 2px 5px #0002;
    border-radius: 15px;
    padding: 15px;
    transition: 0.3s;

    display: grid;
    grid-template-columns: 1fr auto;
}

#set_sec_jh i {
    display: flex;
    align-items: center;
    font-size: 1.6em;
}

#set_sec_jh .date {
    font-weight: 600;
}

#set_sec_jh .journey {
    display: grid;
    grid-template-columns: max-content max-content auto;
    grid-column-gap: 5px;
    align-items: center;
}

#set_sec_jh .stat {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-column-gap: 10px;*/
    align-items: center;

    text-align: center;
    color: #242927;
    font-weight: 600;
    font-size: 1.1em;
}