button {
    height: 40px;
    width: 100px;
    border: 0px;
    border-radius: 20px;
    background-color: #009578;
    transition: 0.5s;
    color: #fff;
}

button:active {
    background-color: beige;
    color: black;
}