/* notes */

.form-group .note {
    display: block;
    margin: 4px 0 2px;
    font-size: 12px;
    font-weight: 400;
    color: #57606a;
}

.form-group .error {
    opacity: 0;
    height: 0;
    color: red;
    transition: 0.3s ease-in-out;
}

.form-group .error-visible {
    opacity: 1;
    height: 14px;
}

/* switch */

.form-group+.switch-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    align-items: center;
}

/* buttons */

.form-group.button {
    width: 440px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}